:root {
    --black-primary: #16181b;
    --black-secondary: #121417;
    --text-color: #e5e2e2;
    --breakpoint-medium: 1224px;
    --breakpoint-small: 520px;
    --border-color: #4c4c4c;
}
*{
    color: beige;
}
.sidebar.show{
        transform: translateX(0%);
    }
    .sidebar.hide{
        transform: translateX(-100%);
        position: fixed;
        z-index: 999;
    }
.sidebar {
  background: var(--black-primary);
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 90vh;
  padding-top: 2rem;
  color: var(--text-color);
  transition: all ease-in 0.2s;

  li {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem;
    margin: 0.5rem 0;
    cursor: pointer;

    span {
      margin-left: 1rem;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.4px;
    }

    &:hover {
      background-color: var(--border-color);
    }
}
hr{
    background-color: var(--border-color);
}
}

@media (max-width:1224px) {
    .sidebar{
        width: 90px;
        li{
            justify-content: center;
        }
        span{
            display: none;
        }
    }
    
}
@media (max-width:520px) {
    .sidebar{
        transform: translateX(-100%);
        position: fixed;
        z-index: 999;
    }
    
    
}

.Catagoriesbar{
    padding: 0.5rem 0 ;
    font-size: 0.8rem;

    display: flex;
    overflow-x: scroll;
     span{
        margin-right: 1rem;
        padding: 0.5rem 1rem;

        white-space: nowrap;
        border: 1.5px solid var(--border-color);
        border-radius: 999px;
        transition: all ease 0.2s;
        &:hover{
            background: #374a59;
            color: beige;
            transform: scale(1.1);
            box-shadow: 0px 0px 5px white;
        }
        &:active{
            color: white;
            background-color: #606060;
            border-color: var(--border-color);
        }
     }

     &::-webkit-scrollbar{
        width: 0px;
     }
}